* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color: #5eb9c5;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    cursor: pointer;
}

.logo-icon {
    background-image: url('../images/FloodGuard_logo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-color: #ffffff4d;
    border-radius: 50%;
}

.logo-text {
    color: white;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 4px;
}

.logo.disabled {
    cursor: default;
    pointer-events: none;
    opacity: 1;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 2px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
}

.nav-menu a:hover {
    background-color: #ffffff33;
}

.nav-menu a.active {
    background-color: #ffffff4d;
    font-weight: 600;
    cursor: default;
    pointer-events: none;
}

@media (max-width: 768px) {

    .header {
        flex-direction: column;
        gap: 12px;
        padding: 15px 25px;
    }

    .logo-text {
        font-size: 22px;
    }

    .nav-menu {
        flex-wrap: wrap;
        justify-content: center;
        gap: 6px;
    }

    .nav-menu a {
        font-size: 15px;
        padding: 8px 12px;
    }
}

@media (max-width: 425px) {

    .nav-menu a{
        font-size: 11px;
    }
}
