* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

body {
    background-color: #377586; 
}

/* LEFT SIDE (Text) */
.content-left {
    flex: 4; /* Takes up 40% roughly */
    background-color: #377586;
    padding: 20px 50px;
    color: #fff;
}

.content-left h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.content-left p {
    font-size: 14px;
    line-height: 1.6;
    font-weight: 300;
    max-width: 600px;
}

/* RIGHT SIDE (Form) */
.content-right {
    flex: 6; /* Takes up 60% roughly */
    background-color: #FFFFFF;
    padding: 60px 250px;
    color: #333;
}

.content-right h1 {
    color: #377586;
    font-size: 36px;
    margin-bottom: 10px;
}

.subtitle {
    color: #666;
    margin-bottom: 30px;
    font-size: 14px;
}

/* FORM ELEMENTS */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    color: #377586;
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 14px;
}

/* Text Inputs */
.text-input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    background: #f9f9f9;
}

textarea {
    height: 100px;
    resize: none;
}

/* Badge Buttons (The grey pills) */
.badge-group {
    display: flex;
    gap: 10px;
}

.badge {
    background: #eee;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    color: #555;
    transition: 0.3s;
}

.badge:hover, .badge:focus {
    background: #ddd;
    color: #333;
}

/* Special Buttons */
.upload-btn {
    background: #60B0C6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn {
    background-color: #377586;
    color: #fff;
    border: none;
    padding: 15px 30px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

/* --- RESPONSIVE FOR MOBILE --- */
@media (max-width: 768px) {

.content-right {
    padding: 40px 20px;
}

.content-left {
    padding: 20px 20px;
}

.content-left h1 {
    font-size: 20px;
}

.content-left p {
    font-size: 11px;
}

}
